{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{session.name}}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'contentsummary/contentsummary.css' %}" />

  </head>
  <body>
  {% for session in sessions %}
    <br />
    <div id="pinContainer">
    <section class="panel session-container">
    <div class="container">
    <div class="row">
        <div class="col-xs-10 sessiontitle">{{session.session.name}}</div>
        <div class="col-xs-2 pillar proofpillar"><img class="img-responsive" src="{% static 'contentsummary/images'%}/{{session.session.pillar.name}}.png">{{session.session.pillar.name}}</div>
    </div>
    <div class="row highsummary">
      <h2>
      {{session.session.summary}}.
    </h2>
    </div>
    <div class="row">
      {% for speaker in session.speakers %}
      <div class="col-xs-2 speaker">
        <div class="row speakerpic"><img class="img-circle img-responsive" src="{% static 'contentsummary/images'%}/{{speaker.speaker.name}}.jpg"> </div>
        <div class="row speakername"><span class="speakername-name">{{speaker.speaker.name}}</span> </div>
      </div>
      {% endfor %}
    </div>
    <div class="row speakers">
      {% for speaker in session.speakers %}
      <div class="col-xs-2 speaker">
        <div class="row speakername">{{speaker.speaker.title}} @ {{speaker.speaker.company.name}} </div>
      </div>
      {% endfor %}
    </div>

    <br/>
    <div class="row content">
      <div class="col-xs-5 keytakeaways">
        <div class="row takeawaystitle">KEY TAKEAWAYS </div>
        {% for keytakeaway in session.keytakeaways %}
        <div class="row keytakeaway">
          <div class="col takeawaynum vertical-align-center">{{ forloop.counter }}</div><div class="col-xs-10 takeawaytext vertical-align-center">{{keytakeaway.takeaway}}</div>
        </div>
        {% if not forloop.last %}
        <hr class=midrow>
        {% endif %}
        {% endfor %}
      </div>

      <div class="col-xs-6 quotes">
        {% for quote in session.quotes %}
        <div class="row quote">
          <div class="col-xs-2 leftquote"><img class="quotepic" src="{% static 'contentsummary/images/InsureTechLeftQuote.png' %}"></div>
          <div class="col-xs-8 quotetext"> {{quote.quote}} </div>
          <div class="col-xs-2 rightquote"><img class="quotepic" src="{% static 'contentsummary/images/InsureTechRightQuote.png' %}"></div>
        </div>
        <div class="row quotespeaker">–{{quote.speaker.name|upper}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
</div>
<div style="page-break-after:always">&nbsp;</div>
{% endfor %}
</body>
</html>
